 html {
    scroll-behavior: smooth;
} 
body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-weight:bold;

}
/* 
.carousel-inner{
    /* max-height:80vh; */
} 
.section2 i{
    text-align:center;
}

.card-img-top{
    
    height:176px;
}
/* .footerfinal{
    padding-left:100px;
    padding-top:15px;
} */
.icon-link{
    font-size:30px;
    padding-left:50%;
    
}
.card-body{
    height:60%
}
.nav-link{
    color:#fff;

}
#ini{
    color:#fff;
    
}

